
header {
  display: flex;
  justify-content: flex-end;
  margin: 30px 30px 0 30px;
}

.button {
  outline: 3px solid blue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0 20px;
}

.line {
  background: #3a3a3a;
  height: 7px;
  width: 50px;
  margin: 7px;
}

.dropdown {
  display: flex;
  align-content: flex-end;
  flex-flow: column wrap;
  padding: 3px 47px 47px 47px;
}

h2 {
  background: gray;
  padding: 10px 20px;
  margin: 0px;
  border: solid 1px gray;
}

.hide {
  display: none;
}

h1 {
  text-align: center;
  text-transform:uppercase;
  color: turquoise;
  font-size: 90px;
}
