
header {
  display: flex;
  justify-content: flex-end;
  margin: 30px 30px 0 30px;
}

.button {
  outline: 3px solid blue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0 20px;
}

.line {
  background: #3a3a3a;
  height: 7px;
  width: 50px;
  margin: 7px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.dropdown {
  display: flex;
  align-content: flex-end;
  flex-flow: column wrap;
  z-index: 1;
  position: absolute;
  padding: 3px 47px 47px 47px;
}

h2 {
  background: blue;
  padding: 10px 20px;
  margin: 0px;
  border: solid 1px blue;
}

.hide {
  display: none;
}

h1 {
  text-align: center;
  text-transform:uppercase;
  color: turquoise;
  font-size: 90px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.content-wrapper {
  display:flex;
  justify-content: center;
}

.coloring-game {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.orange {
  background-color: white;
  width: 32%;
  padding-top: 32%;
  outline: 3px solid black;
  text-align:center
}

.blue {
  background-color: white;
  width: 32%;
  padding-top: 32%;
  outline: 3px solid black;
  text-align: center;
}