
header {
  display: flex;
  justify-content: flex-end;
  margin: 30px 30px 0 30px;
}

.button {
  outline: 3px solid blue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0 20px;
}

.line {
  background: #3a3a3a;
  height: 7px;
  width: 50px;
  margin: 7px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.dropdown {
  display: flex;
  align-content: flex-end;
  flex-flow: column wrap;
  z-index: 1;
  position: absolute;
  padding: 3px 47px 47px 47px;
}

h2 {
  background: blue;
  padding: 10px 20px;
  margin: 0px;
  border: solid 1px blue;
}

.hide {
  display: none;
}

h1 {
  text-align: center;
  text-transform:uppercase;
  color: turquoise;
  font-size: 90px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.coloring-content-wrapper {
  display:flex;
  justify-content: center;
  border-top: 5px solid black;
}

.coloring-game {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 40px 0;
}

.color {
  background-color: white;
  width: 10%;
  padding-top: 10%;
  outline: 1px solid black;
  text-align: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  border-top: 5px solid black;
}

.counter h3 {
  font-size: 40px;
}

.counter p {
  font-size: 100px;
  margin: 0px 0px 40px 0px;
}

.buttons {
  width: 50%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 30px;
}

.reviews {
  border-top: 5px solid black;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.buttons {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.quiz {
  display: flex;
  justify-content: center;
  border-top: 5px solid black;
}

#question {
  font-size: 25px;
}

.box {
  border: 2px solid black;
  padding: 10px 20px;
  margin: 50px 0;
  width: 600px;
  height: 270px;
}

#question {
  text-align: center;
}

ul {
  list-style-type: none;
}

.hide {
  display: none;
}

.wrong {
  background-color: red;
}

.right {
  background-color: green;
}

#buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}